h4{
    text-align: center;
    font-size: 30px;
    color: #d9917b;
    font-family: "Cormorant Garamond", serif;
    text-decoration: none;
}

   
/* Images containers */
.column{
float: left;
width: 22.22%;
padding: 15px;
}

/* Clear floats after image containers */
.row::after{
    content: "";
    clear: both;
    display: table;
}
.column:hover{
    opacity: 0.5;
    cursor: pointer;
    filter: grayscale(60%);
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.donate-button {
    border: 1.5px solid pink;
    border-radius: 2em;
    margin: 0cm 0cm 48px;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 17.92px 29.92px;
    background: #d9917b;
    color: floralwhite;
    font-family: "Cormorant Garamond", serif;
    font-size: 17px;
    right: 1cm;
    top: 1cm;
    position: fixed;
    font-weight: 900;
    box-shadow: 5px 2px 2px rgba(122, 159, 177, 0.5);
}
	  
button:hover {
    color: #212529;
    background: radial-gradient(
        905px at 4.9% 85.8%,
        rgb(255, 243, 242) 0.1%,
        rgb(255, 247, 220) 57.6%
    );
    opacity: 0.9;
    cursor: pointer;
}
.onClickTextOverImage{
  width:300px;
  height:200px;
  background-size:cover;
  display:inline-block;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 10px;  /* Rounded border */   
  margin:4px;
  cursor:pointer;
  position:relative; 
}

.onClickTextOverImage div{
  position:absolute;
  color:#fff;
  padding:8px;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
  border-radius:16px;
  padding-top:35%;
  text-align:center;
  opacity:0;
  visibility:hidden;
  transition:.3s;
}

.onClickTextOverImage.show div{
  opacity:1;
  padding-top:40%;
  visibility:visible;
}
.descriptionCat{
  font-size:20px;
}